
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: #d8920e;
            padding: 10px;
        }

        

        nav ul li a.active-page {
            color: #250dc0;
        }

        h1 {
            text-align: center;
            margin-top: 30px;
        }



        p {
            text-align: center;
            margin-top: 10px;
        }

    
    